<html>
<head>
    <link rel="stylesheet" href="guest.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="title-container">
        <div>
            <h3 class="title">
                <img src="teamlogo.jpg" width="60" height="80" alt= "Pineapple Online Restaurant" align="left">
                Pineapple Online Restaurant
                <img src="teamlogo.jpg" width="60" height="80" alt= "Pineapple Online Restaurant" align="right">
            </h3>
        </div>
        <div class="filters">
            <span class="filter" v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Appetizer' }" v-on:click="setFilter('Appetizer')">Appetizer</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Pork' }" v-on:click="setFilter('Pork')">Pork</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Beef' }" v-on:click="setFilter('Beef')">Beef</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Chicken' }" v-on:click="setFilter('Chicken')">Chicken</span>
        </div>
    </div>

    <transition-group class="projects" name="projects" >
        <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.title" v-for="project in projects">
            <div class="project-image-wrapper">
                <img class="project-image" v-bind="project.size" :src="project.image">
                <div class="gradient-overlay"></div>
                <div class="circle">
                    <span class="project-title">{{project.title}}</span>
                </div>
            </div>
        </div>
    </transition-group>
    <p align="center">Go Back to Home Page Here  <a href="home.html">Home Page</a>.</p>
</div>



<script src="guest.js"></script>
</body>
</html>