<html>
<head>
    <link rel="stylesheet" href="order.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="title-container">
        <div>
            <h3 class="title">
                <img src="teamlogo.jpg" width="60" height="80" alt= "Pineapple Online Restaurant" align="left">
                Pineapple Online Restaurant
                <img src="teamlogo.jpg" width="60" height="80" alt= "Pineapple Online Restaurant" align="right">
            </h3>
        </div>
        <div class="filters">
            <span class="filter" v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Appetizer' }" v-on:click="setFilter('Appetizer')">Appetizer</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Pork' }" v-on:click="setFilter('Pork')">Pork</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Beef' }" v-on:click="setFilter('Beef')">Beef</span>
            <span class="filter" v-bind:class="{ active: currentFilter === 'Chicken' }" v-on:click="setFilter('Chicken')">Chicken</span>
        </div>
    </div>

    <transition-group class="projects" name="projects" >
        <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.title" v-for="(project, idx) in projects" >
            <div class="project-image-wrapper">
                <img class="project-image" :src="project.image" @click="nutrition(idx)" type="button" height="600" width="400">
                <div class="gradient-overlay" @click="nutrition(idx)"></div>
                <div class="circle">
                    <span class="project-title">{{project.title}}</span>
                </div>
                <p>Order button&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calories:<br />
                    &nbsp;&nbsp;<button v-on:click="increase(idx)">+</button>  &nbsp;&nbsp;
                    <button v-on:click="decrease(idx)">-</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ project.calories*project.counter }}<br />
                </p>
                <p align="right"> Amount: {{ project.counter }}</p>
            </div>
        </div>
    </transition-group>
    	<form action="/project/Order" method="POST">
		<input class="favorite styled" type="submit" name= "submit" id="submit" @click="result()" value="Confirm Order"/>
        </form>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="order.js"></script>
</body>
</html>

